alabaster==1.0.0
argcomplete==3.6.2
asgiref==3.9.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
Brlapi==0.8.6
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.5
dbus-python==1.4.0
defusedxml==0.7.1
Django==5.1.11
docutils==0.21.2
filelock==3.18.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
libfdt==1.7.2
louis==3.34.0
lxml==6.0.0
MarkupSafe==3.0.2
meson==1.8.3
netsnmp-python==1.0a1
packaging==25.0
psutil==7.0.0
pwquality==1.4.5
pycairo==1.28.0
pycparser==2.22
Pygments==2.19.2
PyGObject==3.52.3
pytz==2025.2
pyxdg==0.28
requests==2.32.4
roman-numerals-py==3.1.0
setproctitle==1.3.6
snowballstemmer==2.2.0
soupsieve==2.7
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1
